@charset "utf-8";
/************************************************
  Copyright Dark Gray 2012. All Rights Reserved.
*************************************************/

// REPEAT VARIABLES & MIXINS
// -------------------------

@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";

/* Global */
body { margin-top: 20px; }
form { text-align: center; }
#grabber_data-ex, #grabber_data-rel { .opacity(50); }
#grabber_data-rel { font-size: 90%; }
#grabber_data-ex { margin-top: 15px; display: none; }